body {
  background: url('https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/29762.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

table {
  background-color: white;
  }
  