<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/user/head'); %>
    <title>Login</title>
</head>

<body class="container bgFirstColor">

    <main class=" mb-5 d-flex mx-5 align-items-center ">
        <%- include('../partials/user/registerForm'); %>
    </main>

    <footer class="card mx-5 mb-5">
        <%- include('../partials/user/footer'); %>
    </footer>
    
    <%- include('../partials/user/bootstrap'); %>
    <script src="../../js/register.js"></script>
</body>

</html>