<div class="col-md-4 mt-4">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Categoría</label>
            <select class="form-select" aria-label="Default select example">
                <option disabled>Selecciona una categoría</option>
                <option value="1">Frutas y Verduras</option>
                <option value="2">Abarrotes</option>
                <option value="3">Aguas y Bebidas</option>
            </select>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-success" type="button">Filtrar</button>
        </div>
    </form>
</div>