<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="landing.html">FrutiExpress</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Se un repartidor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Publica tu tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Ayuda</a>
                </li>
            </ul>
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"
                data-bs-target="#modalCarrito">
                <span>Carrito de Compras</span>
                <span id="cantProductos">(0)</span>
            </button>
            <a href="landing.html" role="button" class="btn btn-success">Cerrar Sesión</a>
        </div>
    </div>
</nav>