<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">OPCIONES</div>
                <a class="nav-link" href="admin_index">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-basket"></i></div>
                    Productos
                </a>
                <a class="nav-link" href="admin_index">
                    <div class="sb-nav-link-icon"><i class="fas fa-cubes"></i></div>
                    Categoría
                </a>
                <a class="nav-link" href="admin_index">
                    <div class="sb-nav-link-icon"><i class="far fa-copy"></i></div>
                    Pedidos
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin Tienda Las Nubes
        </div>
    </nav>
</div>